<%= title t('welcome.header') %>
<%= @auth_request.client_application.app_id %>
<%= @auth_request.client_application.app_url %>

<p>
  This application has requested the authorization for your account.It will allow them to see your basic data
  which includes your email, company name and some other stuff.
</p>

<%= link_to "Authorise App", authorise_app_path(@auth_request.id), :method => :post %>
